/* App.css */

.floatTextContainer {
  position: relative;
}

.floatText {
  width: 100%;
  text-align: center;
  opacity: 0;
  font-weight: normal;
  transition: opacity 0.3s, font-weight 0.3s;
}

.floatTextContainer:hover .floatText {
  opacity: 1;
  font-weight: bold;
}

.join:hover{
  background-color: #688469; /* Green */
 
}